{
    "openapi": "3.1.0",
    "info": {
      "title": "Search Case Data API",
      "description": "Retrieves case data based on search query.",
      "version": "v1.0.0"
    },
    "servers": [
      {
        "url": "https://brave-rock-025ceae0f.4.azurestaticapps.net"
      }
    ],
    "paths": {
      "/data-api/rest/Case": {
        "get": {
          "description": "Search case data based on query and limit parameters.",
          "operationId": "Case",
          "parameters": [
            {
              "name": "query",
              "in": "query",
              "description": "Search query for case data",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Number of results to return",
              "required": false,
              "schema": {
                "type": "integer",
                "default": 10
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "results": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request parameters"
            }
          },
          "deprecated": false
        }
      }
    },
    "components": {
      "schemes": {}
    }
  }
  